name: Resolve Config Changes
on:
  push:
    paths:
      - config.yaml

permissions:
  actions: write
  contents: write
  
jobs:
  commit_changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Bundler
        run: |
          python bundler.py

      - uses: stefanzweifel/git-auto-commit-action@v5
